.env
node_modules/
*.log

/dist
/build
/tmp

.idea/
.vscode/
*.swp

Thumbs.db
.DS_Store

*.tmp
*.bak
*.sublime*
*.class
*.suo
*.exe
*.dll
*.pdb
*.cache
*.project
*.settings/
*.idea/
*.iml
*.ipr
*.iws
*.out

/uploads/
/backups/
