@import "./index.scss";

.allTodosContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .allTodosTitleArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 15px;

    .allTodosTitle {
      font-size: 36px;
      font-weight: 800;
    }

    .allTodosSelect {
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 16px;
      color: #333;
      cursor: pointer;
    }
  }

  .allTodosSearchArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    .allTodosSearchInput {
      padding: 10px 20px;
      border: 2px solid #ccc; // Daha belirgin bir kenarlık
      border-radius: 20px; // Yuvarlak kenarlar
      background-color: #f9f9f9; // Hafif gri bir arka plan rengi
      font-size: 16px; // Okunabilir bir font boyutu
      width: 50%; // Input genişliği
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Hafif bir gölge efekti
      transition: border-color 0.3s, box-shadow 0.3s; // Pürüzsüz geçiş efektleri

      &:focus {
        border-color: black; // Fokuslandığında kenarlık rengi
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); // Fokuslandığında gölge efekti
        outline: none; // Tarayıcı varsayılan fokus çerçevesini kaldır
      }

      &::placeholder {
        color: #aaa; // Placeholder metni için renk
      }
    }
  }

  .allTodosTableArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .allTodosTable {
      width: 75%;

      .todoDescription {
        max-width: 150px; // Maksimum genişliği ayarlayın, ihtiyacınıza göre bu değeri değiştirebilirsiniz
        white-space: nowrap; // Metnin tek satırda gösterilmesini sağlar
        overflow: hidden; // İçeriğin kutu dışına taşmasını engeller
        text-overflow: ellipsis; // İçeriğin sınırlı alana sığmadığında sonunu "..." ile gösterir
      }

      .allTodosOperatingArea {
        display: flex;
        gap: 10px;

        .allTodosIconDelete,
        .allTodosIconEye {
          cursor: pointer;
        }
      }
    }
          
    .paginationArea {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      margin-bottom: 10px;

      button, select {
        padding: 8px 12px;
        border: none;
        border-radius: 5px; // Kenarları yuvarlaklaştırır
        background-color: $black; // Mavi arka plan rengi
        color: white; // Beyaz metin rengi
        font-weight: bold;
        cursor: pointer; // Fare imlecini düğme üzerine getirildiğinde el simgesine dönüştürür
    
        &:hover {
          background-color: $black; // Hover durumunda arka plan rengini koyulaştırır
        }
    
        &:disabled {
          background-color: #cccccc; // Disabled durumunda arka plan rengini gri yapar
          cursor: not-allowed; // Disabled durumunda fare imlecini "izin verilmiyor" simgesine dönüştürür
        }
      }
    
      select {
        appearance: none; // Tarayıcı tarafından sağlanan varsayılan select stilini kaldırır
       // Açılır okun boyutunu ayarlar
         // Sağ padding, açılır ok için yer bırakır
      }
    
      
    }
  }
}