@import "./index.scss";


.backupContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 100px;
  margin-top: 20px;

  .backupArea {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;

    .backupTitle {
      font-size: 32px;
      color: $black;
    }

    .backupInput {
      @include input-style;
      width: 30%
    }

    .backupButton {
      @include button-style;

    }
  }

  .restoreArea {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;

    .restoreTitle {
      font-size: 32px;
      color: $black;
    }

    .restoreSelect {
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 16px;
      color: #333;
      cursor: pointer;
    }

    .restoreButton {
      @include button-style;
    }
  }
}

.modalPassword {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;

  &:focus {
    outline: none;
    border-color: #000;
  }
}