@import "./index.scss";

.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $light-beige;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

    .title-header {
        @include title-style;
        margin: 0;
        padding: 0;
        border: none;
        margin-left: 15px;
        cursor: pointer;

        @include for-mobile {
            margin-left: 0; // Mobil cihazlarda sola yapışık olmasını engeller
            padding-left: 15px; // İçerik ile kenarlık arasında boşluk sağlar
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        @include for-mobile {
            display: none;
        }



        p {
            font-size: 20px;
            cursor: pointer;
            margin-right: 15px;
            font-weight: 600;
        }

        p:hover {
            border-bottom: 2px solid $black;
            box-sizing: border-box;
        }

        .profile-photo-header {
            background-color: $black;
            
            border-radius: 100%;
              
            .profile-photo {
                width: 64px;
                height: 64px;
                border-radius: 100%; // Daire şeklinde bir profil fotoğrafı için
                object-fit: cover; // Resmin boyutlarına göre kırpılmasını sağlar
              }

          
        }

        .profile-photo-header:hover {
            border: none;
        }
    }

    .hamburger-menu {
        display: none; // Varsayılan olarak hamburger menüyü gizle
        cursor:pointer;

        @include for-mobile {
            display: flex; // Mobil ekranlarda hamburger menüyü göster
            align-items: center;
            margin-right: 10px;
        }
    }

   Offcanvas {
    Offcanvas.body {
        p {
            font-size: 100px;
        }
    }
   }
}