@import "./index.scss";

.logContainer {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: $light-beige;

  .logTitleArea {
    display: flex;
    flex: row;
    width: 100%;
    justify-content: center;
    margin-top: 30px;

    .logTitle {
      font-size: 32px;
      font-weight: 800;
    }
  }

  .logSelectBoxArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
       
    .logSelectBox{
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 16px;
      color: #333;
      cursor: pointer;
    }

    .logInput {
      padding: 10px 20px;
      border: 2px solid #ccc; // Daha belirgin bir kenarlık
      border-radius: 20px; // Yuvarlak kenarlar
      background-color: #f9f9f9; // Hafif gri bir arka plan rengi
      font-size: 16px; // Okunabilir bir font boyutu
      width: 30%; // Input genişliği
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Hafif bir gölge efekti
      transition: border-color 0.3s, box-shadow 0.3s; // Pürüzsüz geçiş efektleri

      &:focus {
          border-color: black; // Fokuslandığında kenarlık rengi
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); // Fokuslandığında gölge efekti
          outline: none; // Tarayıcı varsayılan fokus çerçevesini kaldır
      }

      &::placeholder {
          color: #aaa; // Placeholder metni için renk
      }
    }
  }

  .logTableArea {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

    .logTable {
      width: 75%;

        .logDescription {
          max-width: 50px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
    }
  }

}