@import './index';



.container {

   @include full-screen-background;


   .box {
      @include container-style;
      
      @include for-mobile {
         padding: 5px 8px;
      }


      h3 {
         @include title-style
      }

      div {
         width: 100%;

         label {
            margin-bottom: 10px;
            font-size: 20px
         }

         input {
            @include input-style;
            box-sizing: border-box;
         }
      }

      .signupErrorArea {
         width: 100%;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: start;
         padding-top:5px;
         padding-bottom: 5px;
         background-color: rgb(222, 16, 16);
         

          .signupError {
            font-size:20px;
            font-weight: 500;
            border: none;
            margin: 0;
            color: white;
            margin-left: 10px;
          }
      }

  .InputsPassword {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include for-mobile{
         display: flex;
         flex-direction: column;
      }

      @include for-tablet{
         display: flex;
         flex-direction: row;
      }

      @include for-tablet2 {
         display: flex;
         flex-direction: row;
      }

      @include for-desktop{
         display: flex;
         flex-direction: row;
      }


      .passwordInput,
      .passwordAgainInput {

         width: 100%;

         label {

            margin-bottom: 10px;
            font-size: 20px
         }

         input {
            @include input-style;
            box-sizing: border-box;
         }
      }

   }

   button {
      @include button-style
   }


   }

 

}