@import "./index.scss";

.todo-container {
    background-image: url('images/arkaplanTodoList.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    width: 100%;

    .todo-todoArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $light-beige;
        width: 92%;
        margin-top: 30px;
        border-radius: 8px;
        padding: 12px;

        h3 {
            @include title-style;
            border: none;
        }

        .todo-todoTextarea {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            textarea {
                width: 420px;
                height: 70px;
                padding: 10px 15px;
                border-radius: 10px;
                font-family: Arial, sans-serif;
                font-size: 16px;
            }

            textarea:focus {
                border-color: #000000;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                outline: none;
            }

            button {
                @include button-style;
                margin-bottom: 0;
                margin-left: 10px;

                @include for-mobile {
                    width: 30px;
                }
            }

            @include for-mobile {
                textarea {
                    width: 200px;
                }
            }

            @include for-tablet {
                textarea {
                    width: 350px;
                }
            }

            @include for-desktop {
                textarea {
                    width: 400px; // Masaüstü cihazlarda genişlik ayarı
                }
            }
        }

        .todo-todoList {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            width: 100%;
            margin-top: 30px;
            justify-items: center;
            align-items: center;

            @include for-tablet {
                grid-template-columns: repeat(2, 1fr);
            }

            @include for-tablet2 {
                grid-template-columns: repeat(3, 1fr);
            }

            @include for-desktop {
                grid-template-columns: repeat(4, 1fr);
            }

            .todoItem {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: white;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 8px 15px;
                border-radius: 8px;
                width: 230px;

                .icon-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 2px 4px;
                    margin: 3px 5px;

                    .iconEye {
                        margin-bottom: 3px;
                        cursor: pointer;
                    }

                    .iconDelete {
                        margin-top: 3px;
                        cursor: pointer;
                    }
                }



                p {
                    white-space: nowrap;
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                }


            }
        }
    }
}

.modal-body {
    overflow-y: auto; // Yatayda kaydırma çubuğu ekler
    max-height: 400px; 
    word-wrap: break-word; // Uzun metinleri kırar ve alt satıra taşır

    .todo-edit-textarea {
        width: 100%;
        border: none;
        height: 150px;

        &:focus {
            border:none;
            outline: none;
        }
    }
}